@font-face {
  font-family: 'Averia Libre';
  font-style: normal;
  font-weight: 400;
  src: local("Averia Libre Regular"), local("AveriaLibre-Regular"), url("../fonts/googlefont/AveriaLibre-Regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url("../fonts/googlefont/SourceSansPro-Regular.woff2") format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}



// Variables
@import "variables";

// nprogress
#nprogress {
  pointer-events: none;
  .bar {
    background: $nprogress-color;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
  }
  .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px $nprogress-color, 0 0 5px $nprogress-color;
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
  }
  .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
  }
  .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: $nprogress-color;
    border-left-color: $nprogress-color;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
  }
}


.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
  #nprogress {
    .spinner,.bar {
      position: absolute;

    }
  }
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//FontAwesome
@import "node_modules/font-awesome/scss/font-awesome";
//Ionicons
@import "node_modules/ionicons/dist/scss/ionicons";
